// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0077b6;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #40916c;
$gray: #0E0000;
$medium-gray: #6c757d;
$light-gray: #F4F4F4;
$silver: #c0c0c0;
$white: #fff;
