// Define variables for your color scheme

// For example:
$red: rgb(233, 70, 40);
$blue-sky: #4397c2;
$blue: #1939c2;
$dark-blue: #0c2372;
$yellow: #FFC65A;
$orange: #E67E22;
$green-pool: #6ed7b7;
$green: #449431;
$dark-gray: #0E0000;
$gray: #555;
$medium-gray: #999;
$light-gray: #F4F4F4;
$silver: #c0c0c0;
$white: #fff;
