// Define variables for your color scheme

// For example:
$red: rgb(233, 70, 40);
$blue: #1939c2;
$dark-blue: #0c2372;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #6ed7b7;
$gray: #0E0000;
$medium-gray: #6c757d;
$light-gray: #F4F4F4;
$silver: #c0c0c0;
$white: #fff;
