// Specific CSS for your home-page
.dropup .hide-toggle.dropdown-toggle::after {
  display: none !important;
}

.card-dashboard {
  background-color: $white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15);
  margin: 4px;
}

h1 {
  color: $medium-gray;
  font-family: $headers-font;
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-top: 10px;
}

h5 {
  color: $medium-gray;
  font-weight: bolder;
  padding-top: 2.3rem;
  text-transform: capitalize;
}

p {
  color: $medium-gray;
  font-size: 1rem;
  text-transform: capitalize;
}

a {
  font-size: small;
  text-decoration: none;
}
