<div class="container mt-5">
  <h1 class="text-center">Search across all your transactions</h1>
  <%= render partial: "form" %>
  <div class="mt-4 rounded search-index-container">
    <ul>
      <% if @results.any? %>
        <% @results.each do |result| %>
          <% if result.is_a?(Expense) %>
            <%= render partial: "expense_notification", locals: { result: result } %>
          <% elsif result.is_a?(Income) %>
            <%= render partial: "income_notification", locals: { result: result } %>
          <% end %>
          <% found_results = true %>
        <% end %>
      <% else %>
        <% if params[:query].present? %>
          <p>No results found</p>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
