<div class="btn-group dropup-center floating-btn">
  <button class="border border-0 p-0 m-0" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-circle-plus fa-2xl text-primary"></i>
  </button>
  <ul class="dropdown-menu mb-2 border border-0 shadow bg-white p-3 rounded-4 menu">
    <li class="d-flex mt-2">
      <a class="me-2" data-bs-toggle="modal" data-bs-target="#expense" role="button">
        <i class="fa-solid fa-money-bill-wave fa-xl" style="color: #6ed7b7;"></i>
        add expense by photo
      </a>
    </li>
    <li class="d-flex mt-2">
      <a href="<%= new_expense_path %>" class="me-2">
        <i class="fa-solid fa-money-bill-wave fa-xl" style="color: #6ed7b7;"></i>
        add expense
      </a>
    </li>
    <li class="d-flex mt-2">
      <a href="<%= new_income_path %>" class="me-2">
        <i class="fa-solid fa-receipt fa-xl pe-1" style="color: #E67E22;"></i>
        add income
      </a>
    </li>
  </ul>
</div>
