<div class="footer">
  <ul>
    <li>
      <%= link_to root_path do%>
        <i class="fa-solid fa-gauge"></i>
      <% end %>
    </li>
    <li>
      <%= link_to expenses_path do%>
        <i class="fa-solid fa-receipt"></i>
      <% end %>
    </li>
    <li>
      <%= link_to incomes_path do%>
        <i class="fa-solid fa-money-bill-wave"></i>
      <% end %>
    </li>
    <li>
      <%= link_to search_path do%>
        <i class="fa-solid fa-magnifying-glass"></i>
      <% end %>
    </li>
  </ul>
</div>
