<div class="container my-5 pb-4">
  <h1>Edit Income</h1>
  <%= render "form", income: @income %>
  <%= link_to incomes_path, style:"text-decoration: none" do %>
    <i class="fa-solid fa-reply-all"></i>
  <% end %>
</div>
