<% if days %>
  <% incomes_data = current_user.incomes.where(date: days.days.ago..Date.today).group_by_day(:date, format: "%b %e", reverse: true).sum(:value)%>
  <% expenses_data = current_user.expenses.where(date: days.days.ago..Date.today).group_by_day(:date, format: "%b %e", reverse: true).sum(:value)%>
  <% expenses = current_user.expenses.where(date: days.days.ago..Date.today).group(:category).sum(:value)%>
<% else %>
  <% incomes_data = current_user.incomes.where(date: Date.today - 365..Date.today).group_by_month(:date, format: "%b %Y", reverse: true).sum(:value)%>
  <% expenses_data = current_user.expenses.where(date: Date.today - 365..Date.today).group_by_month(:date, format: "%b %Y", reverse: true).sum(:value)%>
  <% expenses = current_user.expenses.where(date: Date.today - 365..Date.today).group(:category).sum(:value)%>
<% end %>

<div class="row">
  <div class="col-12 col-lg-6 card-dashboard border">
    <%= column_chart [
      { name: 'Incomes', data: incomes_data },
      { name: 'Expenses', data: expenses_data }
    ], stacked: false %>
  </div>
  <div class="col card-dashboard border">
    <%= pie_chart expenses %>
  </div>
</div>
<div class="row">
  <div class="col-12 col-md-6 card-dashboard border">
    <%= bar_chart expenses %>
  </div>
  <div class="col card-dashboard border">
  </div>
</div>
