  <div class="btn-group dropup position-fixed bottom-0 end-0  mb-5 pb-4 pe-3 floating-btn">
  <button class="border border-0 dropdown-toggle hide-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="fa-solid fa-circle-plus fa-2xl text-primary"></i>
  </button>
  <ul class="dropdown-menu mb-3 me-1 border border-0 bg-transparent">
    <li class="d-flex justify-content-end mt-2">
      <a class="me-2" data-bs-toggle="modal" data-bs-target="#expense" role="button">
        add expense
        <i class="fa-solid fa-receipt fa-xl pe-1" style="color: #E67E22;"></i>
      </a>
    </li>
    <li class="d-flex justify-content-end mt-2">
      <a href="<%= new_income_path %>" class="me-2">
        add income
        <i class="fa-solid fa-money-bill-wave fa-xl" style="color: #6ed7b7;"></i>
      </a>
    </li>
  </ul>
</div>
