<div class="container my-5 pb-4">
  <%= render "shared/remote_modal", title: "New Expense" do %>
    <%= render "form", expense: @expense  %>
  <% end %>
  <%= link_to expenses_path, style:"text-decoration: none" do %>
    <i class="fa-solid fa-reply-all"></i>
  <% end %>
</div>
