.card-dashboard {
  background-color: $white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.15);
  margin: 4px;
}

.transactions-card {
  h5 {
    color: $medium-gray;
    font-weight: bolder;
    padding-top: 2.3rem;
  }
}
