.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  padding: 8px;
  border: $medium-gray;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 16px;
  background-color: $white;

  .list {
    display: flex;
    justify-content: center;
    margin: 0;
  }

  .item {
    list-style-type: none;
    margin: 0 24px;
  }

  .link {
    color: $secondary;
    font-size: 24px;

    &:hover {
      color: $blue-sky;
    }
  }

  .add {
    position: relative;
    top: -12px;
    font-size: x-large;
    color: $primary;
  }
}

@media screen and (max-width: 768px) {
  .list {
    padding: 0px;
  }
}
