.card-progress-bar {
  display: flex;
  flex-direction: column;

  .card-info{
    margin-bottom: 1.5rem;
    text-align: start;
  }

  .bar {
    height: 1.8rem;
    border-radius: .5rem;
    border: 1px solid $silver;
    overflow: hidden;
    position: relative;

    .progress {
      height: 100%;
      line-height: 30px;
      position: absolute;
      text-align: end;
      padding-right: 5px;
      background: #4065c5;
    }
  }
}
