<!-- Search form -->
<%= render partial: "search/form" %>
<!-- List of expenses -->
<div class="pb-5">
  <%= render 'index_expenses', expenses: @expenses %>
</div>
<!-- Modal -->
<%= render "pages/modal", expense: @expense %>
<!-- Floating buttons -->
<%= render "pages/floating_button" %>
